{
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "importOrder": ["<THIRD_PARTY_MODULES>", "^(assets|components|hooks|theme|translations|utilities)/?", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
